 {% extends 'base.html' %}

 {% block content %}

  <h1>Air Quality Monitor</h1>
  <br/>

    {% if api %}
        {% if api == "Error..." %}
            holy shit dude, thats really wrong.
        {% else %}
        <div class="jumbotron {{ category_color }}">
          <h1 class="display-4">Category: {{ api.0.Category.Name }}</h1>
          <p class="lead">Current {{ api.0.ReportingArea }} Air Quality: {{ api.0.AQI }}  </p>
          <p>{{ category_description }}</p>

         </div>
        {% endif %}


    {% endif %}

 {% endblock %}
